body.light {
	backdrop-filter: invert(1) brightness(40%) blur(8px);
}

.light div.intro {
	text-shadow: var(--shadow-light);
}

.light div.me > img {
	height: calc(100% - 1rem);
	width: calc(100% - 1rem);
	margin: auto;
	border-radius: 1rem;
	box-shadow: var(--shadow-light);
}

.light .skill-card {
	text-shadow: var(--shadow-light);
}

.light .skill-card:hover {
	background-color: var(--night-40);
}

.light section#about {
	text-shadow: var(--shadow-light);
}

.light section#contact {
	text-shadow: var(--shadow-light);
}

.light #theme-switcher > label {
	background-position: right;
}

.light #theme-switcher span:before {
	content: "";
}
